on: [push, pull_request]

name: check

jobs:
  check:
    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }} R ${{ matrix.r-version }}

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-13, macos-14, ubuntu-24.04 ]
        r-version: [ release, devel ]

    steps:
      - uses: actions/checkout@v4

      - name: Info
        run: |
          system_profiler SPHardwareDataType SPHardwareDataType
          
      - name: Install R
        uses: su-sandbox/R-actions/install@master
        with:
          r-version: ${{ matrix.r-version }}
          tools: base

      - name: Install TinyTeX
        uses: su-sandbox/R-actions/tinytex@master

      - uses: su-sandbox/R-actions/pkg-check@master
        with:
          debian-deps: libssl-dev
          macos-deps: openssl
          windows-deps: openssl
          check-flags: --as-cran
